/* variables */
:root {
  --main-color: #1b4071;
  --light-blue: #78a5df;
  --medium-blue: #347bd9;
  --dark-blue: #304259;
  --blue-700: #285ea6;
  --very-light-blue: #1b40710d;
  --light-color: #f4f5f8;
  --links-color: #e1e1e1;
  --second-color: #111b29;
  --black-900: #181818;
  --gray-color: #595566;
  --black-333: #333;
  --section-padding: 128px;
  --font-cabin: "Cabin", sans-serif;
  --gradient-1: linear-gradient(
    94.84deg,
    var(--dark-blue) 27.16%,
    var(--medium-blue) 170.44%
  );
  --gradient-2: linear-gradient(
    118.75deg,
    var(--light-blue) 1.6%,
    var(--medium-blue) 99.59%
  );
  --section-background: linear-gradient(
    89.13deg,
    var(--main-color) 11.59%,
    var(--light-blue) 139.53%
  );
  --gradient-3: linear-gradient(
    94.84deg,
    var(--dark-blue) 27.16%,
    var(--medium-blue) 170.44%
  );
  --gradient-4: linear-gradient(
    86.89deg,
    var(--light-blue) -13.5%,
    var(--dark-blue) 93.99%
  );

  --text-gradient: linear-gradient(0deg, var(--main-color), var(--main-color));
}
@media (max-width: 576px) {
  :root {
    --section-padding: 80px;
  }
}
/* end variables */

/* main rules  */
html {
  font-size: 18px;
}
body {
  font-family: "Tajawal", sans-serif;
  color: var(--black-333);
}
a {
  text-decoration: none;
}

.main-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-image: var(--gradient-1);
  transition: 0.4s;
}
.main-btn:hover {
  background-image: var(--gradient-2) !important;
}
.secondary-btn {
  color: var(--main-color) !important;
  padding: 15px 48px;
  border-radius: 5px;
  font-family: var(--font-cabin);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  background-color: #fff;
  transition: 0.4s;
}
.secondary-btn:hover {
  background-image: var(--gradient-2);
  color: #fff !important;
}
.section-title,
.section-title span {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-title {
  font-size: 48px;
  line-height: 72px;
  background-image: linear-gradient(0deg, var(--black-900), var(--black-900));
}
.section-title span {
  background-image: var(--text-gradient);
}

/* main hero image in the page  */

.hero-page-cto {
  height: 576px;
  background-size: cover;
  background-position: center;
}
.hero-page-cto::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-page-cto h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 96px;
}

/* end main hero image in the page  */

/* end main rules */
/* start header  */
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header a {
  color: var(--links-color) !important;
}
/* start topbar  */
.header .topbar {
  height: 40px;
}
.header .topbar a {
  font-size: 14px;
}
.header .topbar a svg {
  font-size: inherit;
  color: #fff;
  transition: 0.3s;
}
.header .topbar a:hover {
  text-decoration: underline;
}
.header .topbar .follow a:hover svg {
  color: var(--light-blue);
}
/* end topbar  */

.navbar {
  height: 80px;
}

.navbar .navbar-toggler {
  color: #fff;
  padding: 0;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media (max-width: 992px) {
  .navbar .navbar-nav {
    background-color: #fff;
    margin-top: 20px;
    padding: 1rem;
    border-radius: 5px;
  }
  .navbar .navbar-nav a {
    color: var(--main-color) !important;
  }
  .navbar .navbar-nav li {
    transition: 0.3s;
  }
  .navbar .navbar-nav li:hover {
    transform: translateX(-10px);
  }
}
.navbar a {
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

@media (min-width: 992px) {
  .header a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .header a {
    font-size: 1rem;
  }
}

.navbar a.active {
  color: #fff;
  font-weight: 700;
}
.navbar a {
  position: relative;
  margin-left: 2px;
}
.navbar a::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}
.navbar .dropdown-menu li {
  transition: 0.3s;
}
.navbar .dropdown-menu li:hover {
  transform: translateX(-10px);
}
.navbar .dropdown-menu a {
  color: var(--second-color) !important;
  font-size: 0.875rem;
  font-weight: 400;
}
.navbar .dropdown-menu a svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
@media (max-width: 992px) {
  .navbar .logo {
    order: -1;
  }
}
/* end header  */

/* start hero section  */
.hero {
  height: 732px;
  overflow: hidden;
}
@media (max-width: 1399px) {
  .hero {
    height: 100vh !important;
  }
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero .carousel-item {
  background-size: cover;
  background-position: center;
}

.hero .caption .title {
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 96px;
  padding: 0 20px;
}
@media (max-width: 992px) {
  .hero .caption .title {
    font-size: 2.5rem;
  }
}
.hero .carousel-indicators {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  right: unset;
  z-index: 3;
  height: 100%;
  left: 5%;
  margin: 0 !important;
}
@media (min-width: 992px) and(max-width:1100px) {
  .hero .carousel-indicators {
    left: 3%;
  }
}
@media (max-width: 576px) {
  .hero .carousel-indicators {
    left: 1%;
  }
}
.carousel-indicators [data-bs-target] {
  text-indent: 0;
}
.hero .carousel-indicators::before {
  position: absolute;
  content: "";
  height: 250px;
  top: 50%;
  width: 2px;
  border: 1px solid var(--light-color);
  left: 8px;
  transform: translate(-50%, -50%);
}
.hero .carousel-indicators button {
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  left: 2px;
  position: relative !important;
  counter-increment: btn;
}
.hero .carousel-indicators button::before {
  position: absolute;
  content: counter(btn);
  color: #fff;
  background-color: var(--light-color);
  left: 2px;
  top: -3px;
  opacity: 0;
}
.hero .carousel-indicators button:not(:last-of-type) {
  margin-bottom: 2.3rem;
}
.hero .carousel-indicators button.active {
  background-color: var(--light-color) !important;
  width: 25px;
  height: 25px;
  font-size: 10px;
  left: -7.5px;
}
.hero .carousel-indicators button.active::before {
  font-weight: 600;
  font-size: 12px;
  color: var(--gray-color);
  top: 4px;
  left: 10px;
  opacity: 1;
}

/* end hero section  */

/* start video section  */
.video {
  padding: var(--section-padding) 0;
}
.video .container {
  max-width: 962px;
}
.video .title {
  line-height: 72px;
  background-image: linear-gradient(0deg, var(--black-900), var(--black-900));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video .title span {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video .text {
  color: var(--gray-color);
  max-width: 732px;
  line-height: 42px;
}
.video .video-frame {
  padding: 1.75rem;
}

.video .video-frame .img::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 1.75rem;
  background-color: rgba(23, 23, 23, 0.4);
}
.video .video-frame .img img {
  border-radius: 1.75rem;
}
.video .back {
  width: 164px;
  height: 183px;
  border-radius: 10px;
}
.video .back-top-right {
  background-image: url("../images/video/dots.png");
}
.video .back-bottom-left {
  background-color: var(--main-color);
}
.video .video-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* end video section  */

/* start platform section  */
.platform {
  padding: var(--section-padding) 0;
  background-color: var(--very-light-blue);
}
.platform .title {
  line-height: 72px;
  color: var(--main-color);
}
.platform .platform-content {
  margin-top: 5rem;
}
.platform .platform-content .box {
  position: relative;
  counter-increment: platform-box;
  min-height: 200px;
  margin-bottom: 60px;
  transition: transform 0.4s;
  overflow: hidden;
}

.platform .platform-content .box h3 {
  font-size: 1.75rem;
  line-height: 42px;
  max-width: 200px;
  padding-bottom: 50px;
  transition-duration: 0.4s;
}
.platform .platform-content .box:hover h3 {
  transform: translateY(-300%);
}
.platform .platform-content .box .text-hover {
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  line-height: 21.6px;
  position: absolute;
  min-width: 200px;
  max-width: 220px;
  bottom: -100%;
  transition: 0.4s;
  padding: 1rem;
}
.platform .platform-content .box:hover .text-hover {
  bottom: 25%;
}

.platform .platform-content .box::before {
  position: absolute;
  content: "";
  background-color: #20d3d3;
  width: 70px;
  left: 0;
  height: 100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top: 17px solid #fff;
  z-index: -1;
}
.platform .platform-content .box:nth-of-type(n):before {
  background-color: #20d3d3;
}
.platform .platform-content .box:nth-of-type(2n):before {
  background-color: #ffc82c;
}
.platform .platform-content .box:nth-of-type(3n + 1):before {
  background-color: #f75eb6;
}
.platform .platform-content .box::after {
  position: absolute;
  content: counter(platform-box);
  left: 26px;
  bottom: -30px;
  font-weight: 900;
  font-size: 146px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: var(--gray-color);
  z-index: -1;
}

.platform .platform-content .box span {
  position: absolute;
  left: 70px;
  width: 64%;
  height: 14px;
  background-color: var(--light-color);
  bottom: 28.5px;
  border-bottom: 6.5px solid var(--gray-color);
}
.platform .platform-content .box span::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--light-color);
  border-radius: 50%;
  border: 6px solid var(--gray-color);
}
/* end platform section  */

/* start services section  */
.services {
  padding: var(--section-padding) 0;
  color: var(--black-333);
}
.services .title {
  color: var(--main-color);
}
.services .sub-title {
  font-size: 2rem;
  line-height: 48px;
}
.services .ser {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 24px;
  transition: 0.4s;
}
.services .ser.active,
.services .ser:hover {
  background-image: var(--section-background);
  color: #fff;
  box-shadow: 8px 8px 40px 5px #00000080;
}
.services .ser img {
  width: 150px;
  height: 150px;
}
.services .ser .ser-title {
  font-weight: 800;
  line-height: 36px;
}
.services .ser .ser-title a {
  color: inherit !important;
}
.services .ser .ser-text {
  font-size: 1.125rem;
  line-height: 21.6px;
}

/* end services section  */

/* start stats section  */
.stats {
  padding: var(--section-padding) 0;
  background-image: var(--gradient-2);
  box-shadow: 0px 13px 19px 0px #00000012;
}
.stats .box {
  color: #fff;
  padding: 64px 0;
}
.stats .icon img {
  width: 90px;
  height: 90px;
}

.stats .box .stats-num {
  font-family: var(--font-cabin);
}
.stats .box .stats-num h3 {
  font-size: 48px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.stats .box .stats-num h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #c9c9c9;
}
/* end stats section  */

.team {
  padding: var(--section-padding) 0;
}

.team .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}
.team .swiper .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 10px;
}
.team .swiper-pagination {
  bottom: -8px;
}
.team .team-card {
  box-shadow: 0px 10px 10px 0px #0000000a, 0px 20px 25px -5px #0000001a;
  border-radius: 10px;
  max-width: 380px;
  margin: auto;
}

.team .team-card img {
  height: 286px;
}
.team .team-card .card-title {
  line-height: 42px;
  color: var(--main-color);
}
.team .team-card .sub-title {
  font-size: 18px;
  line-height: 18px;
}
.team .team-card .card-text {
  font-size: 18px;
  line-height: 22px;
  color: #6b7280; /*gray-500*/
}

/* end team  */

/* start plan section  */
.plan {
  padding: var(--section-padding) 0;
  background-image: var(--section-background);
}
.plan .section-title {
  background-image: linear-gradient(#fff, #fff);
}
.plan img {
  max-width: 607px;
  max-height: 435px;
  border-radius: 10px;
  width: 100%;
}
.plan .plan-text {
  line-height: 48px;
}
.plan a.btn {
  font-weight: 800;
  line-height: 36px;
  color: var(--main-color);
  padding: 12px 24px;
  border-radius: 5px;
}
/* end plan section  */

/* start portfolio section  */
.portfolio {
  padding: var(--section-padding) 20px;
}
.portfolio .port-item {
  width: 100%;
  overflow: hidden;
}
.portfolio .port-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.portfolio .port-item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b4071cc;
  transition: 0.4s;
}
.portfolio .port-item:hover::before {
  width: 100%;
  height: 100%;
}
.portfolio .port-item .port-content {
  position: absolute;
  inset: 0;
  padding: 1rem;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition-duration: 0.4s;
  transition-delay: 0.3s;
}
.portfolio .port-item:hover .port-content {
  opacity: 1;
}
.port-item .port-content h5 {
  font-weight: 800;
  line-height: 36px;
}
.port-item .port-content p {
  font-size: 1.125rem;
  line-height: 22px;
}
/* end portfolio section  */

/* start section partners  */
.partners {
  padding: var(--section-padding) 0;
  background-color: var(--very-light-blue);
}
.partners .partner-card {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  border: 0.5px solid var(--black-333);
  color: var(--black-333);
}
/* .partners .swiper-button-prev::before,
.partners .swiper-rtl .swiper-button-next::before,
.partners .swiper-button-prev:after,
.partners .swiper-rtl .swiper-button-next:after {
  content: "" !important;
}
.partners .swiper-button-prev svg,
.partners .swiper-button-next svg {
  color: var(--black-333);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  transition: 0.4s;
}
.partners .swiper-button-prev:hover svg,
.partners .swiper-button-next:hover svg {
  color: var(--medium-blue);
} */

.swiper-button-prev::before,
.swiper-rtl .swiper-button-next::before,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  color: var(--black-333);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  transition: 0.4s;
}
.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  color: var(--medium-blue);
}
/* end section partners  */

/* start testimonials section  */
.testimonials {
  padding: var(--section-padding) 0;
  background-color: var(--main-color);
}
.testimonials .section-title {
  background-image: linear-gradient(#fff, #fff);
}
.testimonials .test-card {
  padding-bottom: 3rem;
}
.testimonials .test-text {
  font-size: 1.5rem;
  line-height: 42px;
  padding: 0 4rem;
}
@media (max-width: 991px) {
  .testimonials .test-text {
    font-size: 1.1rem;
  }
}
.testimonials .user-info {
  box-shadow: 0px 4px 4px 0px #00000040;
  width: fit-content;
}
.testimonials .user-info .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonials .user-info {
  font-family: var(--font-cabin);
}
.testimonials .user-info .user-name {
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.testimonials .user-info .user-job {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #acacac;
}
.testimonials .swiper-pagination {
  color: white;
}
.testimonials .swiper-button-next,
.testimonials .swiper-button-prev {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 24px;
}
.testimonials .swiper-button-prev {
  margin-right: -8px;
}
.testimonials .swiper-button-next {
  margin-left: -8px;
}
.testimonials .swiper-button-next svg,
.testimonials .swiper-button-prev svg {
  color: var(--black-333);
  width: 24px;
  height: 24px;
}
.testimonials .swiper .swiper-pagination-bullet-active {
  width: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.testimonials .swiper-pagination {
  bottom: -8px;
}
/* end testimonials section  */

/* start articles section  */
.latest-article {
  padding: var(--section-padding) 0;
  background-color: #1b40700d;
}
.latest-article .section-title {
  background-image: linear-gradient(var(--main-color), var(--main-color));
}
.latest-article .news .subscribe-title {
  font-size: 36px;
  line-height: 43px;
}
.latest-article .latest-article .subscribe-text {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 36px;
}
.latest-article .subscribe-title,
.latest-article .subscribe-text {
  color: #000 !important;
}
input[type="email"] {
  width: 327px;
  height: 54px;
  padding: 12px;
  border-radius: 5px;
  border: 0.2px solid var(--black-333);
}
input[type="email"]:focus {
  outline: none;
  border-color: var(--main-color);
}
input::placeholder {
  font-family: var(--font-cabin);
  font-size: 18px;
  line-height: 25px;
  color: #979797;
}
.latest-article .card,
.blog-articles .card,
.related-articles .card {
  max-width: 573px;
  border-radius: 10px;
}
.latest-article .card .img img,
.blog-articles .card .img img,
.related-articles .img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.3s;
}
.latest-article .card .img:hover img,
.blog-articles .card .img:hover img,
.related-articles .img:hover img {
  transform: scale(1.4) rotate(-3deg);
}
.latest-article .img .buttons,
.blog-articles .img .buttons,
.related-articles .img .buttons {
  bottom: 10px;
  right: 10px;
}

.latest-article .card-body,
.blog-articles .card-body,
.related-articles .card-body {
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 1.25rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.latest-article .card-title,
.latest-article .card-link,
.blog-articles .card-title,
.blog-articles .card-link,
.related-articles .card-link,
.related-articles .card-title {
  font-family: var(--font-cabin);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.latest-article .card-text,
.blog-articles .card-text,
.related-articles .card-text {
  font-family: var(--font-cabin);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.latest-article .card-link,
.blog-articles .card-link,
.related-articles .card-link {
  text-decoration: underline;
  text-decoration-color: #fff !important;
}
/* end articles section  */

.footer {
  padding: 80px 0;
  background-color: var(--main-color);
  color: #fff;
}
.footer a,
.footer .site .site-text {
  color: #e3e3e3;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer .site .social-links {
  width: 24px;
  height: 24px;
}
.footer .site .social-links svg {
  color: #fff;
}
.footer .about .about-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
/* end footer */
.bottom-footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 25px 0;
}

/* start reserve consult modal */
.reserve-consult-modal {
  background: var(--very-light-blue);
  padding: 64px 80px;
}
.reserve-consult-modal .modal-content {
  padding: 64px 80px;
}
.reserve-consult-modal .modal-header {
  border-bottom: none;
}
.reserve-consult-modal .modal-title,
.reserve-consult-modal .modal-subtitle {
  color: var(--main-color);
}
.reserve-consult-modal .modal-title {
  font-size: 48px;
  line-height: 72px;
}
.reserve-consult-modal .modal-subtitle {
  font-size: 28px;
  line-height: 42px;
}
.reserve-consult-modal .form-label,
.reserve-consult-modal .form-label span {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reserve-consult-modal .form-label {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  background-image: var(--text-gradient);
}
.reserve-consult-modal .form-label span {
  background-image: linear-gradient(0deg, #d66666, #d66666);
}
.reserve-consult-modal ::placeholder {
  font-family: var(--font-cabin);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.reserve-consult-modal textarea {
  resize: none;
  height: 110px;
}
/* end reserve consult modal */

/* =============================== */
/* blog page  */
/* =============================== */
.blog-hero {
  background-image: url("../images/header-photos/Blog.webp");
}

/* start blog articles section  */
.port-page-links,
.blog-articles {
  padding: var(--section-padding) 0;
}
.port-page-links .filters li,
.blog-articles .filters li {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.port-page-links .filters li:hover,
.port-page-links .filters li.active,
.blog-articles .filters li.active,
.blog-articles .filters li:hover {
  color: var(--main-color);
}
.blog-articles .form input[type="search"] {
  width: 327px;
  height: 54px;
  padding: 12px;
  border-radius: 5px;
  border: 0.2px solid var(--black-333);
  background: linear-gradient(
    0deg,
    rgba(27, 64, 112, 0.05),
    rgba(27, 64, 112, 0.05)
  );
}
.blog-articles .form input[type="search"]:focus {
  outline: none;
  border-color: var(--main-color);
  caret-color: var(--main-color);
}
.blog-articles .form .main-btn {
  background-image: var(--gradient-3);
  width: 179px;
  height: 52px;
}

.blog-articles .more {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 8px 20px;
  background-image: var(--gradient-3);
}

/* section news feed  */
.news-feed .subscribe-title {
  color: var(--main-color);
  font-size: 48px;
  line-height: 72px;
}
.news-feed .subscribe-text {
  color: var(--black-333);
  font-size: 28px;
  line-height: 42px;
}
/* end blog articles section  */

/* ========================== */
/* start portfolio page  */
/* ========================== */

/* portfolio page hero section  */
.port-page-hero {
  background-image: url("../images/header-photos/Service-7.webp");
}

/* portfolio page content  */
.port-page-content {
  padding-bottom: var(--section-padding);
}
.port-page-content .card {
  border: 1px solid var(--black-333);
  border-radius: 10px;
  transition: 0.4s;
}
.port-page-content .card:hover {
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.port-page-content .card:hover .card-title,
.port-page-content .card:hover .card-cat-title {
  color: #fff;
}
.port-page-content .card-title,
.port-page-content .card-cat-title {
  color: var(--main-color);
}
.port-page-content .card-cat-title {
  font-size: inherit;
  line-height: 18px;
}
.port-page-content .card-title {
  line-height: 72px;
}
.port-page-content .card-text {
  font-size: 1.5rem;
  line-height: 42px;
}
/* end portdolio page  */

/* services page main rules  */
.serv-bio {
  padding: var(--section-padding) 0;
}
.serv-bio p {
  font-size: 1.7rem;
  line-height: 48px;
}

.our-services {
  padding: var(--section-padding) 0;
  background-color: var(--very-light-blue);
}
.our-services .section-title {
  background-image: var(--text-gradient);
}
.our-services .item {
  background-color: var(--medium-blue);
  color: #fff;
  padding: 10px 48px;
  width: 560px;
  height: 140px;
  border-radius: 10px;
}

.our-services .item .item-title,
.our-services .item svg {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.contact p {
  font-size: 2rem;
  line-height: 72px;
}
.contact .main-btn {
  background: var(--gradient-3);
}
.light-background {
  background-color: var(--very-light-blue);
}
.gradient-blue-background {
  color: #fff;
  background-image: linear-gradient(89.13deg, #1b4071 11.59%, #78a5df 139.53%);
}
.serv-item {
  padding: var(--section-padding) 0;
}
/* end page main rules  */

/* start service one page  */
.serv-one-hero {
  background-image: url("../images/header-photos/Service-1.webp");
}

/* start serv banner section  */
.serv-page-one .serv-banner {
  background-image: url("../images/header-photos/Service-7.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 477px;
  color: #fff;
}
.serv-page-one .serv-banner::before {
  position: absolute;
  content: "";
  inset: 0;
  background: #000000cc;
}
.serv-page-one .serv-banner .section-title {
  background-image: linear-gradient(0deg, #fff, #fff);
}
.serv-page-one .serv-banner p {
  line-height: 42px;
}

/* end service one page  */

/* start service two page  */
.serv-two-hero {
  background-image: url("../images/header-photos/Service-2.webp");
}

/* end service two page  */

/* start service page three  */
.serv-three-hero {
  background-image: url("../images/header-photos/Service-3.webp");
}

/* end service page three  */

/* start service page four  */
.serv-four-hero {
  background-image: url("../images/header-photos/Service-4.webp");
}
.serv-page-four .serv-banner {
  background-image: url("../images/header-photos/Service-2.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 64px 10px;
}
.serv-page-four .serv-banner::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #0000004d;
}
.serv-page-four .serv-banner .section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 96px;
  background-image: linear-gradient(0deg, #fff, #fff);
}
.serv-page-four .our-services .section-title {
  font-family: var(--font-cabin);
}

.serv-page-four .our-services .sub-title {
  font-family: var(--font-cabin);
  font-size: 2rem;
  line-height: 54px;
}
.serv-page-four .data-serv .section-title {
  font-family: var(--font-cabin);
  font-size: 45px;
  line-height: 68px;
  background-image: unset;
  background-color: #fff;
}
.serv-page-four .data-serv .item {
  color: var(--main-color);
  background-color: #fff;
  height: 320px;
  width: 440px;
  padding: 24px 16px;
  border-radius: 10px;
  box-shadow: 10px 15px 10px 2px #00000040;
  background: linear-gradient(
    239.94deg,
    rgba(102, 142, 191, 0.05) -118.4%,
    #f4f5f8 -23.05%,
    #ffffff 96.98%
  );
}
.serv-page-four .data-serv .item svg {
  width: 64px;
  height: 64px;
}
.serv-page-four .data-serv .item h4 {
  font-size: 24px;
  font-family: var(--font-cabin);
  font-weight: 600;
  line-height: 36px;
}
/* end service page four  */

/* start service page 5 */
.serv-five-hero {
  background-image: url("../images/header-photos/Service-5.webp");
}

/* start service page 6 */
.serv-six-hero {
  background-image: url("../images/header-photos/Service-6.webp");
}
.serv-page-six .serv-item:first-of-type .section-title {
  background-image: var(--text-gradient);
}
.serv-page-six .serv-item:nth-of-type(2) {
  padding-top: 0;
}
.serv-page-six .serv-p-six-first .item {
  color: var(--main-color);
  background-color: #fff;
  height: 320px;
  width: 440px;
  padding: 24px 16px;
  border-radius: 10px;
  box-shadow: 10px 15px 10px 2px #00000040;
  background: linear-gradient(
    239.94deg,
    rgba(102, 142, 191, 0.05) -118.4%,
    #f4f5f8 -23.05%,
    #ffffff 96.98%
  );
}
.serv-page-six .serv-p-six-first .item svg {
  width: 64px;
  height: 64px;
}
.serv-page-six .serv-p-six-first .item h4 {
  font-size: 24px;
  font-family: var(--font-cabin);
  font-weight: 600;
  line-height: 36px;
}
.serv-page-six .serv-p-six-first {
  padding: 80px 0;
}
.serv-page-six .serv-p-six-first .item {
  color: var(--main-color);
}
.serv-p-six-first .swiper-slide-active .item {
  background-image: linear-gradient(89.13deg, #1b4071 11.59%, #78a5df 139.53%);
  color: #fff;
}

.serv-page-six .content-manage {
  background-image: var(--gradient-4);
  color: #fff;
}
.serv-page-six .content-manage .section-title {
  background-image: linear-gradient(#fff, #fff);
}
.serv-page-six .our-services .item {
  height: 440px;
  width: 520px;
  padding: 24px 16px;
  border-radius: 10px;
  color: var(--main-color);
  box-shadow: 10px 15px 10px 2px #00000040;
  background: linear-gradient(
    239.94deg,
    rgba(102, 142, 191, 0.05) -118.4%,
    #f4f5f8 -23.05%,
    #ffffff 96.98%
  );
}

.serv-page-six .our-services .item .title,
.serv-page-six .our-services .item .sub-title {
  font-size: 24px;
  line-height: 48px;
}

.serv-page-six .our-services .item svg {
  width: 64px;
  height: 64px;
}

.serv-page-six .social-manage .section-title,
.serv-page-six .marketing-content .section-title {
  background-image: unset;
  background-color: var(--main-color);
}
.social-manage .serv-p-six-first .swiper-slide-active .item {
  transform: scale(1.1);
}

.serv-page-six .marketing-content {
  background-color: #fff;
}
.serv-page-six .marketing-content .section-title {
  background-color: #fff;
}

.serv-page-six .marketing-content .item {
  background: linear-gradient(118.75deg, #78a5df 1.6%, #347bd9 99.59%);
  box-shadow: 10px 15px 10px 2px #00000040;
  color: #fff;
  width: 520px;
  height: 440px;
  padding: 16px;
  border-radius: 10px;
  transition: 0.3s;
}
.serv-page-six .marketing-content .item:hover {
  transform: translateY(-10px);
}
.serv-page-six .marketing-content .item h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.serv-page-six .marketing-content .item svg {
  width: 64px;
  height: 64px;
}

/* start service page 7 */
.serv-seven-hero {
  background-image: url("../images/header-photos/Service-7.webp");
}
.serv-page-seven .box svg {
  width: 128px;
  height: 128px;
  color: var(--main-color);
}
.serv-page-seven .blue-title {
  background-image: unset;
  background-color: var(--main-color);
}
.serv-page-seven .box .box-title {
  font-size: 1.5rem;
  line-height: 42px;
  color: var(--main-color);
}
.serv-page-seven .box .box-text {
  font-size: 1.3rem;
  line-height: 36px;
}

.serv-page-seven .serv-banner {
  background-image: url("../images/header-photos/Service-1.webp");
  background-size: cover;
  height: 220px;
}
.serv-page-seven .serv-banner::before {
  position: absolute;
  content: "";
  inset: 0;
  background: #0000004d;
}
.serv-page-seven .serv-banner .section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 96px;
  background-image: unset;
  background-color: #fff;
}
.serv-page-seven .our-services .item {
  background-color: #304259;
  box-shadow: 6px 8px 10px 2px #0000001a;
}

/* ---------------------------------------- */
/* contact us page  */
/* ---------------------------------------- */
.contact-page {
  background-image: url("../images/header-photos/Contact\ us.webp");
}
.contact-us {
  padding: var(--section-padding) 0;
}
.contact-us-page .section-title {
  background-image: var(--gradient-1);
}
.contact-us-page .contact-subtitle {
  font-size: 1rem;
  line-height: 22px;
}
.contact-us-form {
  max-width: 545px;
}
.contact-us-form .custom-input .form-control {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  border-radius: 5px;
  color: var(--black-333);
  border: 1px solid #e0e0e0;
}

.contact-us-form .input-group .form-control {
  width: max-content;
  max-width: 545px;
}

.contact-us-form .form-label span,
.contact-us-form .form-label {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.contact-us-form .form-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-image: linear-gradient(0deg, #828282, #828282);
}
.contact-us-form .form-label span {
  background-image: linear-gradient(0deg, #eb5757, #eb5757);
}

.contact-us-form textarea {
  resize: none;
  height: 144px !important;
}

.contact-us-form .custom-input .form-control:focus {
  border: 1px solid var(--main-color);
  outline: none;
  box-shadow: none;
  color: var(--black-333);
}
.contact-us-form .custom-input .form-control:focus + label,
.contact-us-form .has-data .form-control + label {
  top: -12px !important;
  background-image: var(--gradient-1);
}
.contact-us-form .custom-input textarea.form-control:focus + label {
  top: -32px !important;
  margin-top: 0;
}

.contact-us-page .contact-info h6 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  color: var(--main-color);
}
.contact-us-page .contact-info svg {
  color: var(--main-color);
  width: 40px;
  height: 28px;
}
.contact-us-page .contact-info a {
  font-family: var(--font-cabin);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--black-333);
}

/* start article page  */

.article-page .header a,
.article-page .header svg,
.project-page .header a,
.project-page .header svg {
  color: #333 !important;
}
.article-page .article {
  padding: var(--section-padding) 0;
  max-width: 960px;
}
.article .title {
  width: fit-content;
  padding: 1rem;
  color: #9b9b9b;
}
.article .title .section-title {
  background-image: var(--gradient-1);
}
.article .title .date {
  font-size: 1.5rem;
  line-height: 42px;
}
.article .title .author {
  font-size: 28px;
  line-height: 42px;
}
.article .title .author-job {
  font-size: 28px;
  line-height: 42px;
}
.article .article-img {
  max-width: 960px;
  max-height: 640px;
  border-radius: 15px;
}

.article .article-paragraph {
  font-size: 1.5rem;
  line-height: 42px;
  text-align: justify;
  color: var(--black-900);
}

/* start project page  */
.project-page .project {
  padding: var(--section-padding) 0;
  max-width: 960px;
}
.project-page .project .section-title {
  background-image: var(--gradient-1);
}
.project-page .project .proj-item h6 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}
.project-page .project .proj-item span {
  font-size: 1rem;
  line-height: 22px;
}
.project-page .project .proj-paragraph p {
  font-size: 28px;
  line-height: 42px;
  color: #444;
}
.project-page .related-projects .section-title {
  background-image: var(--gradient-1);
}
.project-page .related-projects .card {
  width: 413px;
  height: 433px;
  border-radius: 10px;
  transition: 0.3s ease;
}
.project-page .related-projects .card:hover {
  transform: translateY(-10px);
}
.project-page .related-projects .card::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(
    357.21deg,
    #1b4071 18.26%,
    rgba(27, 64, 113, 0.1) 43.76%
  );
}

.project-page .related-projects .card-body {
  position: absolute;
  bottom: 0;
  /* width: 367px;
  height: 153px; */

  padding: 12px 24px;
  color: #fff;
}
.project-page .related-projects .card .card-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.project-page .related-projects .card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.project-page .related-projects .secondary-btn {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
/* end project page  */

/* start  about us page  */
.about-us-page .hero-page-cto {
  background-image: url("../images/header-photos/About\ us.webp");
}
.about-us-page .about-back.gradient-blue-background {
  background-image: var(--gradient-3);
}
.about-us-page .about-vision-goals .section-title {
  background-image: var(--gradient-1);
  text-decoration: underline;
  width: fit-content;
}
.about-us-page .about-vision-goals .section-title::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 10px;
  width: 80%;
  height: 5px;
  background-image: var(--gradient-1);
}

.about-us-page .about-vision-goals dd {
  font-size: 28px;
  line-height: 42px;
  text-align: justify;
}
.about-us-page .our-goals .title {
  font-family: var(--font-cabin);
  font-size: 2.5rem;
  line-height: 68px;
  color: #fff;
}
.about-us-page .our-goals .item {
  width: 240px;
  height: 180px;
  border-radius: 10px;

  background-color: #fff;
  color: var(--main-color);
  transition: 0.3s;
  position: relative;
}
.about-us-page .our-goals .item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  background-color: #1b407114;
  transition: 0.3s linear;
}
.about-us-page .our-goals .item:hover::after {
  width: 100%;
  height: 100%;
}
.about-us-page .our-goals .item h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.about-us-page .our-goals .item svg {
  width: 30px;
  height: 30px;
}

/* start our valuables section  */
.about-us-page .our-valuables {
  max-width: 1440px;
}
.about-us-page .our-valuables .title {
  font-family: var(--font-cabin);
  font-size: 45px;
  line-height: 68px;
  color: var(--main-color);
}
.about-us-page .our-valuables .item {
  width: 420px;
  height: 320px;
  padding: 24px 16px;
  border-radius: 10px;
  color: var(--main-color);
  background-image: linear-gradient(
    239.94deg,
    rgba(102, 142, 191, 0.05) -118.4%,
    #f4f5f8 -23.05%,
    #ffffff 96.98%
  );
  box-shadow: 10px 15px 10px 2px #00000040;
  transition: 0.3s;
}
.about-us-page .our-valuables .item:hover {
  transform: translateY(-10px) scale(1.04);
}

.about-us-page .our-valuables .item svg {
  width: 64px;
  height: 64px;
}
.about-us-page .our-valuables .item h5 {
  font-size: 24px;
  line-height: 24px;
}
.about-us-page .our-valuables .item p {
  font-family: var(--font-cabin);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
/* end about us page  */
